* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

@font-face {
        font-family: dm-sans;
        src: url(../font/dm-sans-cufonfonts/DMSans-Medium.ttf);
}

@font-face {
        font-family: old standard-tt;
        src: url(../font/Old-Standard-TT/OldStandard-Bold.ttf);
}

@font-face {
        font-family: old standard-ii;
        src: url(../font/Old-Standard-TT/OldStandard-Italic.ttf);
}

h2,
p {
        font-family: dm-sans;
}

h1 {
        font-family: old standard-tt;
}

span {
        font-family: old standard-ii;
}

.container {
        width: 1140px;
        margin: 0 auto;
        position: relative;
}

.row {
        display: flex;
        flex-wrap: wrap;
}

.jc-space-between {
        justify-content: space-between;
}

.align-item-center {
        align-items: center;
}

.jc-center {
        text-align: center;
}

.pos-rel {
        position: relative;
}

.pos-ab {
        position: absolute;
}

.col30 {
        width: 30%;
}

.col48 {
        width: 48%;
}

.col60 {
        width: 60%;
}

.col40 {
        width: 40%;
}

.col25 {
        width: 25%;
}

.col50 {
        width: 50%;
}

body {
        background-color: #eae8d7;
}

/* --------------------sec1------------- */
.sec1 {
        color: #0b5e98;
}

.navbar {
        width: 90%;
}

.col {
        padding-top: 70px;
}

.togle {}

.search {
        top: -4px;
        right: 2px;
}

.textbox input {
        border: none;
        outline: none;
        border-bottom: 2px solid #0b5e98;
        background-color: #eae8d7;
}

.logo {
        position: absolute;
        top: 40px;
        right: 0px;
}

.sec1-text {
        padding: 100px 0;
}

.sec1-text h2 {
        font-size: 20px;
        text-align: center;
        padding: 20px 0;
}

.sec-1text p {
        font-size: 10px;
        text-align: justify;
        padding: 10px 0;
}

.btn1 {
        text-align: center;
}

.btn1 input {
        border-radius: 20px;
        background-color: #0b5e98;
        color: #eae8d7;
        height: 30px;
        width: 150px;
        border: none;
        text-align: center;
        margin: 20px 0;
}

.btn2 {
        text-align: center;
}

.btn2 input {
        border-radius: 20px;
        color: #0b5e98;
        background-color: #eae8d7;
        height: 30px;
        padding: 0 10px;
        border-color: #0b5e98;
        margin: 20px 0;
}

.heading {
        top: -92px;
        left: 9px;
        font-size: 27px;
        text-align: center;
        z-index: 1;
}

.heading h1 span {
        font-size: 20px;
        vertical-align: middle;
        padding: 0 15px;
}

.img img {
        width: 100%;
}

.sec1-border {
        border-top: 2px solid #0b5e98;
}

.border-text {
        padding: 20px 0;
}

.border-text h2 {
        font-size: 15px;
        padding: 10px 0;
}

/* --------------------sec2-------------------- */
.sec-2 {
        background-color: #0b5e98;
        color: #eae8d7;
}

.sec2-img1 img {
        margin-top: 300px;
        margin-bottom: 50px;
        width: 100%;
}

.sec2-text {
        padding: 90px 0;
        text-align: center;
}

.sec2-text1 h2 {
        font-size: 15px;
        padding: 10px 0;
}

.sec2-text2 {
        padding: 100px 0;
}

.sec2-text2 h3 {
        font-size: 25px;
        border-bottom: 2px solid#eae8d7;
}

.sec2-img2 {
        display: flex;
        justify-content: right;
}

.sec2-img2 img {
        /* margin-left: 50px; */
        margin-top: 50px;
        margin-bottom: 300px;
        /* text-align: right; */
        width: 100%;
}

.title {
        padding: 20px 0;
        border-bottom: 2px solid #0b5e98;
}

.title1 h3 {
        font-size: 90px;
        text-align: center;
}

.title2 {
        top: 20px;
        left: 430px;
}

.title2 h3 {
        font-size: 20px;

}

.sec3 {
        padding: 25px 0;
}

.img3-1 img,
.img3-2 img {
        width: 100%;
}

.img3-1 {
        padding-top: 30px;
}

.img3-2 {
        padding-top: 100px;
}

.img3-1 h3,
.img3-2 h3 {
        font-size: 30px;
        border-bottom: 2px solid #0b5e98;
        margin: 30px 0;
}

/* .sec4-img {
        text-align: center;
} */
.sec4 {
        padding: 40px;
}

.logo1 {
        position: absolute;
        top: -40px;
        right: 0px;
}

.logo1 img {
        width: 85px;
}

.ssm p {
        font-size: 20px;
        position: absolute;
        top: -10px;
        right: 25px;
        transform: rotate(35deg);
}

.sec4-text {
        width: 60%;
        margin: 0 auto;
        text-align: center;
}

.sec4-text h2 {
        font-size: 20px;
        padding: 40px 0;
}

.sec4-text h3 {
        font-size: 70px;
        padding: 30px 0;
        line-height: 75px;
}

.sec4-text p {
        font-size: 20px;
        padding: 20px 0;
}

.sec5 {
        padding: 30px 0;

}

/* .sec5-text {
        border-bottom: 1px solid;

} */

/* .sec5-width {
        text-align: left;
        margin: 0 auto;
        padding: 10px 0;
} */

.sec5-text {
        width: 80%;
        margin: 0 auto;
        text-align: left;
}

.sec5-text h3 {
        font-size: 50px;
        padding: 10px 0;
}

.sec5-text h2 {
        font-size: 20px;
        padding: 15px 0;
}

.sec5-text p {
        font-size: 15px;
        padding: 15px 0;
}

.sec5-img {
        border-left: 2px solid #115c90;
}

.sec5-img img {
        width: 100%;
        display: block;
}

.sec6-border {
        border-bottom: 2px solid #0b5e98;
        border-top: 2px solid #0b5e98;
}

.sec6-img {
        /* text-align: center; */
        padding: 100px;
}

.sec6-img img {
        width: 100%;
}

/* .sec-6 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #0b5e98;
        border-bottom: 1px solid #0b5e98;
} */
.sec6 {
        padding: 100px 0;
}

.sec6-text {
        width: 70%;
        margin: 0 auto;
}

.sec6-text h3 {
        font-size: 85px;
        text-align: center;
        line-height: 90px;
}

.sec6-text h3 span {
        font-size: 20px;
        vertical-align: middle;
        padding: 0 15px;
}

.sec6-text p {
        font-size: 15px;
        text-align: center;
        padding: 30px 0;
}

.logo2 {
        position: absolute;
        top: -40px;
        right: 0px;
}

.logo2 img {
        width: 90px;
}

.wts p {
        font-size: 10px;
        color: #eae8d7;
        position: absolute;
        top: -11px;
        right: 19px;
        transform: rotate(35deg);
        width: 50px;
        text-align: center;
}

.sec7 {
        /* text-align: center; */
        padding: 50px 0;

}

.sec7-text1 h3 {
        font-size: 50px;
        padding: 50px 0;
}

.sec7-text2 span {
        font-size: 50px;
        vertical-align: top;
}


.sec7-text2-2 p {
        font-size: 20px;
        padding: 20px;
        text-align: justify;
        width: 70%;
}

.sec7-text2-2 h4 {
        font-size: 20px;
        padding: 20px 25px;
}

.sec7-border {
        border-bottom: 2px solid #0b5e98;
}

.sec8-text {
        width: 90%;
        margin: 0 auto;
        text-align: center;
}

.sec8-text h3 {
        font-size: 70px;
        line-height: 70px;
}

.sec8-text h3 span {
        font-size: 20px;
        vertical-align: middle;
        /* padding: 0 15px; */
}

.sec8-text p {
        font-size: 20px;
        padding: 20px 0;
}

.sec8-border {
        border-left: 2px solid #0b5e98;
}

.sec8-form {
        width: 90%;
        padding: 50px 30px;
}

.sec8-form h3 {
        font-size: 50px;
        padding: 10px 0;
}

.sec8-form h2 {
        font-size: 20px;
        padding: 10px 0;
}

.sec8-width input {
        width: 100%;
        padding: 20px 0;
}

::placeholder {
        color: #0b5e98;
}

.sec8-btn {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        /* justify-content: space-between; */
}

.sec8-btn .btn2 {
        /* margin: px 0; */
}

.sec9-text h2 {
        font-size: 20px;
        padding: 20px 0;
}

.sec9-text p {
        font-size: 15px;
}

.footer {
        padding: 70px 0;
}

.footer>p {
        font-size: 10px;
        padding: 50px 0;
}

/* --------------------------- */



.header {
        display: flex;

}

.header li {
        padding: 0 20px;
        list-style: none;

}

.header li a {
        text-decoration: none;
        transition: 0.7s ease;
        color: white;
}

.hamburger {
        display: none;
        cursor: pointer;
}

.bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgb(15, 109, 191);
}